@model List<Team>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Teams</h4>
                <a class="btn btn-outline-success btn-fw" asp-action="Create">Create a new Team</a>
            </div>
           
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>TournamentParticipatedIn</th>
                            
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        @foreach (Team team in Model)
                        {
                            <tr>
                                <td><a asp-controller="Dashboard" asp-action="Index">@team.Name</a></td>
                                <td>@team.TeamDetail.TournamentsParticipatedIn</td>

                                <td><a asp-route-id="@team.Id" asp-action="Delete" class="btn btn-outline-danger btn-fw">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>